body {
	font-family: "Lato", sans-serif;
	color: #0066ff;
	font-weight: 300;
}

.dark-line {
	border: 1px dashed #0066ff;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 40px;
}

.title-logo {
	margin: 20px 0 0 0;
}

.footer {
	background-color: #444;
	margin: 50px;
	height: 100px;
	color: #ffffff;
	text-align: center;
	padding: 40px;
}